<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut!</h1>
    <p>
     Une commande a été passée sur ton site avec l'email suivant : <%= @user.email %>.  <!-- likely to be modified -->
    </p>

    <p> Voici les photos commandées:</p>

  

  </body>
</html>
