<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
			<div class="row justify-content-center">
				<div class="card">
					<div>
					</div>
					<div class="card-body">
						<h5 class="card-title"><%=@item.title%></h5>
						<p class="card-text">Description : <%=@item.descript%></p>
						<p class="card-text">Prix : <%=@item.price%>€</p>
					</div>
				</div>
			</div>
	</body>
</html>